:root {
    --accent: #2970cc;
}

body {
    font-family: 'Poppins';
    color: white;
    background: rgb(10 22 38 / 83%);
}

.full-size {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: calc(100% - 40px);
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}
.sidebar h1 {
    font-size: 18px;
    margin: 7px 20px 20px 20px;
    position: absolute;
}

.sb-header {
    margin: 0px;
    height: 83px;
    display: flex;
    background: rgb(6 13 21 / 70%);
}
span#sb-header-selected {
    background: var(--accent);
    height: 4px;
    top: 72px;
    position: absolute;
    transition: 0.3s width ease, 0.4s margin ease;
}
span#nv-default-selected {
    background: var(--accent);
    position: absolute;
    width: 300px;
    height: 35px;
    z-index: -1;
    opacity: 0.3;
    transition: 0.3s top;
    top: 0px;
}
.sb-header button {
    border: none;
    color: white;
    background: transparent;
    border-radius: 7px;
    padding: 8px 10px;
    margin: 4px;
    font-weight: bold;
}
.sb-header button in {
    transition: 0.3s font-size ease;
}
.sb-header-left {
    position: absolute;
    top: 40px;
    left: 6px;
}
.sb-header-right {
    position: absolute;
    top: 40px;
    right: 20px;
}
.sb-header-right button {
    margin-right: -4px;
}

.sb-navigation {
    margin-top: 20px;
}
.sb-navigation button {
    border: none;
    text-align: left;
    color: white;
    font-weight: bold;
    background: transparent;
    padding: 10px 0px 10px 23px;
    border-left: 5px transparent solid;
}
.sb-navigation button:hover {background: rgb(11 23 39 / 10%);}
.sb-navigation button i {
    margin-right: 7px;
}

button.notification-card {
    padding: 0px 14px;
}
button.notification-card h1 {
    font-size: 16px;
    margin-left: 34px;
}
button.notification-card i {
    position: absolute;
    left: 40px;
}

.content {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 300px);
    height: calc(100% - 0px);
    background: rgb(11 23 39 / 70%);
}

.topbar-view {
    cursor: default;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgb(11 23 39 / 25%);
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}
.topbar-view h1 {
    font-size: 18px;
    margin: 7px 0px 0px 20px;
}
.topbar-view control {
    padding: 4px 7.5px;
    border-radius: 4px;
}
.topbar-view control:hover {
    background: rgb(41 112 204 / 50%);
}
.controls-main {
    margin: 7px 0px 0px 15px;
}
.controls-optional {
    position: absolute;
    margin: 7px 0px 0px 20px;
    right: 25px;
}